@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://meyerweb.com/eric/tools/css/reset/reset.css');

@font-face {
	font-family: 'compagnon-light';
	src: url('Compagnon-Light.otf');
}
@font-face {
	font-family: 'compagnon-roman';
	src: url('Compagnon-Bold.otf');
}

body {
	/* font-family: 'Work Sans', serif; */
	font-family: 'compagnon-light';
	font-weight: 200;
	margin: 2em;
}


.index {
    font-size: 1.3em;
    line-height: 1.2em;
    column-width: 14em;
    height: 90vh;
}

ul {
	list-style:none;
	padding: 0;
}

.form ul li.checkbox input {
  float:left;
}

li {
	cursor: pointer;
}

li span, li a  {
  display: block;
  margin-top: -28px;
  margin-left: 30px;
	overflow: hidden
}

input:checked::before {
	content: ' ';
	margin: -10px 0px;
	margin-left: -20px;
	margin-top: 0px;
	padding: 10px;
	width: 40px;
	height: 60px;
	position: absolute;
	overflow: visible;
	background-repeat: no-repeat;
}

li input {
	appearance: none;
	-webkit-appearance: none;
	border: 1px solid #cacece;
	padding: 4px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	width: 10px;
	height: 10px;
	/* visibility: hidden; */
}

li:hover input {
	visibility: visible;
}

li input::before {
	background: url('dessin.svg')
}
li[data-type=personnes] input::before {
	background: url('dessin2.svg')
}

li[data-type=personne] input {
	border: 1px solid red;
	box-shadow: 0 1px 2px rgba(255,0,0,0.2), inset 0px -15px 10px -12px rgba(255,0,0,0.4);
}

li[data-type=auteur] input {
	border: 1px solid blue;
	box-shadow: 0 1px 2px rgba(0,0,255,0.1), inset 0px -15px 10px -12px rgba(0,0,255,0.4);
}

li[data-type=objet] input {
	border: 1px solid green;
	box-shadow: 0 1px 2px rgba(0,255,0,0.1), inset 0px -15px 10px -12px rgba(0,255,0,0.4);
}
li[data-type=notion] input {
	border: 1px solid purple;
	box-shadow: 0 1px 2px rgba(255,255,0,0.1), inset 0px -15px 10px -12px rgba(255,255,0,0.4);
}

li[data-objets] input {
	border: 1px solid black;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1), inset 0px -15px 10px -12px rgba(0,0,0,0.4);
}

a {
	text-decoration: none;
	color: black;
	font-family: 'compagnon-roman';
	margin: inherit;
	padding: inherit;

}
