@font-face {
	font-family: 'Compagnon';
	src: url('fonts/Compagnon-Light.otf')
}

@font-face {
	font-family: 'Compagnon-Roman';
	src: url('fonts/Compagnon-Roman.otf')
}
@font-face {
	font-family: "Compagnon-Light";
	src: url("/font/Compagnon-Light.woff2");
}

@font-face {
	font-family: "Compagnon-Medium";
	src: url("/font/Compagnon-Medium.woff2");
}

@font-face {
	font-family: "Compagnon-Roman";
	src: url("/font/Compagnon-Roman.woff2");
}

@font-face {
	font-family: "Compagnon-Bold";
	src: url("/font/Compagnon-Bold.woff2");
}

@font-face {
	font-family: "Compagnon-Italic";
	src: url("/font/Compagnon-Italic.woff2");
}

@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900&display=swap');

a { text-decoration: none; color: black }

body {
	font-family: 'Compagnon', serif;
}

/* #list-tags { */
/*   grid-area: list-tags; */
/* } */
/*  */
/* #list-articles { */
/*   grid-area: list-articles; */
/* } */
/*  */
/* #abstrack { */
/*   grid-area: abstrack; */
/* } */

main#home {
	display: grid;
	grid-template-columns: 70% 30%; 
	grid-template-rows: auto;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	position: absolute;
}

#mySidenav {
	/* display: none; */
}

/* L I S T   T A G */
section#list-tags, header.article ul {

	font-size: 16px;
	height: 80%;
  font-family: 'Compagnon';
	/* background: red; */
	/* padding-top: 10px; */
	/* padding-left: 40px; */
	display: block;
}

section#list-tags ul {
	column-count: 4;
	column-gap: 0px;


}

section#list-tags ul li {
	padding-left: 35px;
}
/* C H E C K B O X */
li[data-type]::before, .name::before {
	content: '';
	margin-top: 3px;
	width: 20px;
	padding: 20px;
	background-repeat: no-repeat;
	position: absolute;
	margin-left: -30px;
}

[data-type=article] {
	float: inline-end;
}

[data-type=auteur] {
	display: none;
}

li.name::before {
	background-image: url('checkbox/whatisDat-off.svg');
}

li.name.checked::before {
	background-image: url('checkbox/whatisDat-on.svg');
}

[data-type=personne]::before {
	background-image: url('checkbox/personne-off.svg');
}

[data-type=personne].checked::before {
	content: ' ';
	background-image: url('checkbox/personne-on.svg');
}

[data-type=objet]::before {
	background-image: url('checkbox/objet-off.svg');
}

[data-type=objet].checked::before {
	content: ' ';
	background-image: url('checkbox/objet-on.svg');
}

[data-type=notion]::before {
	background-image: url('checkbox/notion-off.svg');
}

[data-type=notion].checked::before {
	content: ' ';
	background-image: url('checkbox/notion-on.svg');
}

[data-type=annee]::before {
	background-image: url('checkbox/annee-off.svg');
}

[data-type=annee].checked::before {
	content: ' ';
	background-image: url('checkbox/annee-on.svg');
}

/* [data-type=personne] { */
/* 	background: #ff9974; */
/* } */
/* [data-type=notion] { */
/* 	background: lightblue; */
/* } */
/* [data-type=objet] { */
/* 	background: #ffb6ff; */
/* } */
/* [data-type=annee] { */
/* 	background: #bfffbf; */
/* } */

/* L I S T   A R T I C L E S  */
section#list-articles {
	font-family: 'Compagnon-Roman';
	padding-top: 10px;
	height: 80%;
}

/* A B S T R A C K  */
section#abstrack {
	height: 15%;
	display: flex;
	bottom: 0px;
	position: fixed;
	padding: 10px;
}
section#abstrack img {
	margin-left: 10px;
	height: 100%;
	width: auto;
	position: relative;
	display: block;
}

.bienvenue {
	margin-top: 2em;
	margin-left: 35em;
	width: 30em;
	height: 15em;
	padding: 1.2em;
	position: absolute;
	color: pink;
	background: blue;
	z-index: 3;
}

.bienvenue p {
	font-size: 1em;
	padding-bottom: 1em;
}

.sidenav {
	background-color: pink;
	width: 1em;
	float: right;
}

li {
	line-height: 1.8em;
	cursor: pointer;
}

/* A R T I C L E */

main#article {
}
section#header {
	width: 100%;
}
section#content{
	width: 100%;
	display: flex;
	font-size: 2em; 
	position: absolute; 
	height: 100%;
	display: flex;
}
section#text {
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	margin-right: 3em;
	margin-left: 1.5em;
	width: 50%;
}

section#text figure,
section#media figure figcaption {
		font-family: 'Compagnon';
    padding: 4px;
		font-size: 16px;
}

section#text figure {
    outline: 1px solid;
    display: initial;
    width: auto;
    position: relative;
    margin: 1em;
    margin-top: 1em;

}

section#text h1 {
	font-weight: 400;
	font-size: 2em;
	margin-top: 0.5em;
	margin-bottom: 0;
	color: #751aff;
}

section#text p {
	font-size: 1.3em;
	line-height: 1.5em;
}

section#text header ul {
	padding-left: 30px;
}
section#media {
	width: 50%;
	margin-left: 3em;
	margin-right: 1.5em;
}
section#media .area-fig {
	position: fixed;
	width: 50%;
}
section#media .area-fig figure{
	/* display: none; */
	float: left;
}
section#media .area-fig figure.zoom img{
	/* height: 80%; */
	/* margin-top: 10%; */
	/* position: fixed; */
	/* display: none; */
	float: left;
}

section#media .area-fig figure img{
	height: 160px;
	width: auto;
	margin: 12px;
}
