.wrapper {
    display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: auto;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}


.article { padding: 20px; 

    overflow: auto;

}

.article header { display: none; }

.article figure {
    height: 80px;
    display: inline-block; 
    margin-right: 20px;
    margin-bottom: 20px;
}

.article figure img {
    height: 100%;
}

.article figcaption {
    display: none;
}

.article figure.active {
    outline: 3px solid red;
}





.viewer {
    /* width: 300px; */
    /* height: 300px; */
    background-color: black;
    background-image: url('https://whatisdat.osp.kitchen/media/img/BLANDIN%20Camille/BLANDIN%20Camille-000.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 75px;
    box-sizing: border-box;
    background-origin: content-box;
    position: relative;
}


.viewer__btn::before {
    display: block;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: gold;
    position: absolute;
    top: calc(50% - 25px);
    user-select: none;
}

.viewer__btn:hover::before {
    background-color: red;
    cursor: pointer;
}

.viewer__btn--prev::before {
    content: '<';
    left: 10px;
}


.viewer__btn--next::before {
    content: '>';
    right: 10px;
}

.viewer__caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: blue;
    color: white;
    padding: 10px;
}
