@import url('https://fonts.googleapis.com/css?family=Work+Sans');


body {
    font-family: 'Work Sans', serif;
}

.wrapper {
    height: 100vh;
    padding: 2em;
}


.index {
    font-size: 13px;
    line-height: 15px;
    column-width: 10em;
    column-fill: auto;
    column-rule: solid 1px;
    height: 100%;
}

li:hover {
    cursor: pointer;
}

.active { font-weight: bold; }
.blur { filter: blur(6px); }
