@import url('https://fonts.googleapis.com/css?family=Work+Sans');


body {
    font-family: 'Work Sans', serif;
    margin: 2em;
}


.index {
    font-size: 13px;
    line-height: 15px;
    column-width: 10em;
    height: 90vh;
}
