@font-face {
    font-family: "Compagnon-Light";
    src: url("/font/Compagnon-Light.woff2");
}

@font-face {
    font-family: "Compagnon-Medium";
    src: url("/font/Compagnon-Medium.woff2");
}

@font-face {
    font-family: "Compagnon-Roman";
    src: url("/font/Compagnon-Roman.woff2");
}

@font-face {
    font-family: "Compagnon-Bold";
    src: url("/font/Compagnon-Bold.woff2");
}

@font-face {
    font-family: "Compagnon-Italic";
    src: url("/font/Compagnon-Italic.woff2");
}


body {
    font-family: 'Compagnon-Light', serif;
    margin: 2em;
    margin-top: 4em;
}


/* wwwwww BARRE NAV wwwwww */

#barre {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 0.8em;
    font-family: 'Work Sans';
    font-weight: 700;
}

#barre li {
    display: inline;
    color: #751aff;
}

.droite {
    float: right;
    color: black;
    font-weight: 500;
    font-size: 13px;
    border: 1px solid #751aff;
    padding: 0.35em;
}


/* wwwwwwwwwwwwwwwwwwwwwwwwwwwwww */

[data-type="introtext"],
[data-type="textbienvenu"] {
    color: #751aff;
    font-family: 'Work Sans';
    padding-right: 1.5em;
}

[data-type="introtext"] {
    font-weight: 600;
}

[data-type="textbienvenu"] {
    padding-left: 1.3em;

}

.titre {
    padding-left: 2em
}

.intro1 {
    padding-left: 0.5em;
}

/* wwwwwwwwwwwwwwwwwwwwwwwwwwwwww */

.articlelist a {
    font-size: 13px;
    line-height: 15px;
    color: #751aff;
    text-decoration: none;
}

.index {
    font-size: 13px;
    line-height: 15px;
    column-count: 2;
    column-gap: 0px;
    /*column-width: 15em;*/
    width: 500px;
    height: 200px;
}


[data-type=article] {
    float: inline-end;
}


[data-type=auteur] {
    display: none;
}


ul.articlelist {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    padding-left: 2em;
    padding-right: 2em;
    top: 57px;
    right: 3px;
    z-index: 2;
    position: absolute;
    background-color: white;
    width: 20em;
    padding-left: 3em;
    text-indent: -0.8em;
}



.bienvenue {
    margin-top: 2em;
    margin-left: 35em;
    width: 30em;
    height: 15em;
    padding: 1.8em;
    position: absolute;
    color: white;
    background: #751aff;
    z-index: 3;
}

.bienvenue p {
    font-family: 'Compagnon-Medium', serif;
    line-height: 1.2em;
    font-size: 1.1em;
    padding-bottom: 1em;
}

input:checked ~ .checkmark {
    background-color: orangered;
}

/* wwwww CROIX wwwww */

.sidenav {
    width: 1em;
    float: right;
    padding-left: 1em;
}

.sidenav a {
    text-decoration: none;
    color: white;
}


.sidenav .closebtn:hover {
    text-decoration: none;
}

.sidenav .closebtn {
    font-size: 50px;
}

/* wwwwwwwwwwwwwwwwwww */


/* wwwww ARTICLES wwwww */

.nomgris {
    font-family: 'Work Sans';
    font-weight: 200;
    color: ;
    opacity: ;
}

/* wwwwwwwwwwwwwwwwwww */


/* wwwww IMAGES wwwww */

.image {
    padding-top: 1em;
    position: absolute;
    bottom: 1px;
}

img {
    height: 9em;
}
