@font-face {
    font-family: "Compagnon-Light";
    src: url("/font/Compagnon-Light.woff2");
}

@font-face {
    font-family: "Compagnon-Medium";
    src: url("/font/Compagnon-Medium.woff2");
}

@font-face {
    font-family: "Compagnon-Roman";
    src: url("/font/Compagnon-Roman.woff2");
}

@font-face {
    font-family: "Compagnon-Bold";
    src: url("/font/Compagnon-Bold.woff2");
}

@font-face {
    font-family: "Compagnon-Italic";
    src: url("/font/Compagnon-Italic.woff2");
}

/* Pour tous les écrans dont la taille est inférieure à 700px */
@media screen and (max-height: 700px) {
    .sidenav {
        /*padding-top: 15px;*/
    }


    /* PLACEMENT COLONNES */

    body {
        margin: 2%;
        font-size: 11px;
        line-height: 1.5em;
        word-break: break-word;
        /* gestion des césures */
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -o-hyphens: auto;
        hyphens: auto;
        /* fin gestion des césures */
    }


    /* Taille des blocs d'index et d'article */
    .index,
    .articlelist {
        width: 47%;
        height: 100%;
        /* overflow-y: scroll; */
    }



    /* Pour mettre à droite la liste d'article */
    .articlelist {
        /* position: fixed; */
        position: absolute;
        right: 0;
        top: 2%;
        overflow-y: scroll;
    }


    /* wwwwwwwwwwwwwwwwwwwwwwwww */
    /* TITRE SITE + INTRODUCTION en violet */

    [data-type="introtext"],
    [data-type="textbienvenu"] {
        color: #751aff;
        font-family: 'Work Sans';
    }

    [data-type="introtext"] {
        font-weight: 600;
    }


    /* wwwwwwwwwwwwwwwwwwwwwwwww */
    /* INDEX */

    .index {
        font-family: 'Compagnon-Light'
    }

    .nomauteur {
        font-family: 'Work Sans';
        font-weight: 200;
    }


    /* wwwwwwwwwwwwwwwwwwwwwwwww */
    /* LISTE ARTICLE */

    .articlelist {
        font-family: 'Work Sans';
    }

    .articlelist a {
        text-decoration: none;
        color: #751aff;
    }


    /* wwwwwwwwwwwwwwwwwwwwwwwww */
    /* MENU ROND */

    #menu {
        position: fixed;
        right: 2.9em;
        bottom: 2.9em;
    }

    #menu {
        z-index: 100;
    }

    #menu p {
        position: absolute;
        width: 1.5em;
        height: 1.5em;
        border: 3px solid #751aff;
        background: white;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -o-border-radius: 100px;
        border-radius: 100px;
        z-index: 1000;
        font-family: 'Compagnon-Light', serif;
        color: white;
        text-align: center;
    }


    #log {
        width: 80%;
        height: 12%;
        display: none;
        position: fixed;
        background: white;
        padding: 0.6em;
        right: 6%;
        bottom: 3%;
        border: 2px solid #751aff;
        font-family: 'Compagnon-Light', serif;
        font-size: 1.3em;
        line-height: 2.4em;
    }


    /* Lorsqu'on est loggé : 
    #menu2 {
        position: fixed;
        right: 2.9em;
        bottom: 2.9em;
    }

    #menu2 {
        z-index: 100;
    }

    #menu2 p {
        position: absolute;
        width: 1.5em;
        height: 1.5em;
        background: #751aff;
        border: 2px solid #751aff;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -o-border-radius: 100px;
        border-radius: 100px;
        z-index: 900;
        font-family: 'Compagnon-Light', serif;
        color: white;
        text-align: center;
    }


    #log2 {
        width: 35%;
        height: 16%;
        display: none;
        position: fixed;
        background: white;
        padding: 0.6em;
        right: 6%;
        bottom: 3%;
        border: 2px solid #751aff;
        font-family: 'Compagnon-Light', serif;
        font-size: 1.3em;
        line-height: 2.4em;
    }
    */
}

/* Balise qui ferme "ecran de -700px" */
