@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900&display=swap');


body {
    font-family: 'Work Sans', serif;
    margin: 2em;
}


.index {
    height: 00px;
    font-size: 13px;
    line-height: 15px;
    column-width: 12em;
    height: 90vh;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

li {
    
}

.picto {
    font-family: 'fontawesome', serif;
    /*color: #ff0066;*/
}

personne {
    color: blue;
}

a {
    text-decoration: none;
    color: black;
}


[data-type=objet], [data-type=notion], [data-type=personne] {
    font-weight: 200;
}


/*
[data-type=annee] {
    color: #ff0066;
    font-weight: 700;
}


/* Disparition du nom des auteurs */
[data-type=auteur] {
    display: none;
}

/*
Le super rose
#ff0066
*/
